#footer_body {
	position: absolute;
	width: 100%;
	height: 200px;
	background: #666;
	opacity: 0.8;
	bottom: -50%;
}

footer {
	position: relative;
	width: 70%;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}

.footer_menu {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0%;
	color: white;
	font-size: 80%;
}

.Ezen_Copyright {
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0%;
	color: black;
	opacity: 0.8;
}

.footer_menu li {
	list-style: none;
	float: left;
	border-right: 1px solid white;
	color: white;
}

.footer_menu li:last-child {
	border-style: none;
}

.Ezen_Copyright li {
	list-style: none;
	float: left;
	border-right: 1px solid #667284;
	margin-right: 5px;
	color: white;
}