#qnabn {
	width: 1200px;
	height: 180px;
	margin: 0 auto;
	background: rgb(248, 248, 248);
	margin-top: 150px;
}

.qnabn {
	width: 398px;
	height: 180px;
	float: left;
	border-right: 1px solid silver;
	position: relative;
}

.qnabn:last-of-type {
	border-style: none;
}

.qnabn img {
	width: 130px;
	margin-top: 20px;
	margin-left: 20px;
}

.qnabntitle {
	width: 220px;
	height: 150px;
	position: absolute;
	top: 15px;
	right: 0;
}

#qnaboard {
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}

#qnaboardheader {
	width: 100%;
	height: 40px;
	background: rgb(248, 248, 248);
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

#header1 {
	line-height: 42px;
	margin-left: 30px;
}

#header2 {
	margin-left: 500px;
}

#header3 {
	margin-left: 400px;
	margin-right: 20px;
}

#header4 {
	margin-right: 20px;
}

#qnaboardcontent {
	width: 1200px;
	border-bottom: 1px solid silver;
	height: 40px;
}

#qnaboardcontent a:hover {
	color: silver;
}

#viewwrap {
	width: 1200px;
	margin: 0 auto;
}

#viewtitle {
	width: 1200px;
	height: 110px;
	background: rgb(248, 248, 248);
	font-weight: bold;
	font-size: 25px;
	line-height: 110px;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid silver;
}

#viewip {
	width: 1200px;
	height: 60px;
	border-bottom: 1px solid silver;
}

#viewcontent {
	width: 1200px;
	height: 400px;
}

#viewrp {
	width: 1200px;
	height: 50px;
	border-top: 1px solid silver;
	margin-top: 30px;
	line-height: 50px;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid silver;
	background: rgb(248, 248, 248);
}

#rrpp {
	width: 1200px;
	height: 80px;
	border-bottom: 1px solid silver;
}

#writerpwrap {
	width: 1200px;
	height: 250px;
	border: 1px solid black;
	background: #EAEAEA;
	position: relative;
}

#writerp {
	width: 98%;
	height: 75%;
	background: white;
	position: absolute;
	top: 10px;
	left: 10px;
}

textarea:focus {
	outline: none;
}

#boardwritewrap {
	height:700px;
	width: 1200px;
	margin: 0 auto;
	margin-top:110px;
}

#boardwriterconteiner {
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid silver;
}

#boardwritertitle {
	width: 1200px;
	height: 80px;
	border-bottom: 1px solid silver;
	background: rgb(248, 248, 248);
	position: relative;
}

#boardwritertitle input {
	width: 600px;
	height: 45px;
	position: absolute;
	left: 30px;
	top: 15px;
	font-size: 30px;
}

textarea {
	border-style: none;
	font-size: 25px;
	resize: none;
}

textarea:focus {
	outline: none;
}