body{margin: 0; padding: 0; position: relative;}
        #usermenu{width: 1900px; height: 40px; position: relative;}
        #usermenu #menu{color: white; line-height: 35px; width: 50%; margin: 0 auto; position: relative;}
        #usermenu #menu img{position: absolute; right: 0; cursor: pointer;}
        #usermenu #menu img:hover{height: 30px;}
        #topnav{width: 1900px; height:80px; position: fixed; left:0; right: 0; background:white; z-index: 1;}
        #topmenu{font-family: 'Black Han Sans', sans-serif;
        font-family: 'Do Hyeon', sans-serif; line-height: 100px; font-size: 20px; font-weight: bold;width: 50%; height: 100px; margin: 0 auto;}
        #topmenu span{cursor: pointer;}
        #topmenu span:hover{color: silver;}
        #se{width: 200px; height: 35px; float: right; margin-top: 30px; position: relative; left:100px; top:-96px;}
        #se input {position: absolute;width: 160px;height: 29px; right: 0; border-style: none; top:3px; font-size: 25px;}
        #se img{position: absolute; width:  30px; top:5px;}
        #se input:focus {outline:none;}
        
        #wrap{width: 100%; height: 4200px;}
        #content{width: 70%; height: 3000px; margin: 0 auto; margin-top: 90px;}
        #bn{width: 1200px; height: 700px; margin: 0 auto; position: relative; overflow: hidden;}
        #bnn{width: 6000px; position: absolute;top: 0; left: 0; height: 700px; transition: 1s;}
        #bnn img{width: 1200px; height: 700px;}
        #korona{width: 1200px; height: 180px;margin: 0 auto; margin-top: 30px;}
        #korona img{width: 1200px; height: 180px;}
        #monthproduct{width: 1200px; height: 600px; margin: 0 auto; margin-top: 30px; border-bottom: 1px solid silver;}
        .monthimg{width: 250px; height: 440px;float: left; margin-left: 40px; margin-top: 30px;}
        .monthimg img{width: 250px; height: 440px;}
        a{text-decoration: none; color: black;}
        #eip{width: 1200px; height: 900px; margin: 0 auto; border-bottom: 1px solid silver;}
        .seip{width: 1200px; height: 390px;}
        .sseip{width: 368px; height:330px; float: left; margin-left: 22px;}
        .sseip img{width: 368px; height: 260px;margin-top: 50px;}
        .eipbtn{border: 1px solid black; width: 100px; font-size: 12px; font-weight: bold; height: 30px; line-height: 30px; text-align: center; border-radius: 25px;25px;25px;25px;  margin: 0 auto; margin-top:15px; cursor: pointer;}
        #pickwrap{width: 1200px; height: 1520px; margin: 0 auto;}
        
        
        #pick1{width: 520px; height: 700px; position: relative; top:0px; left:0;}
        #pick1 img{width: 520px; height: 700px;}
        .pbtn{width: 48px; height: 48px; border: 1px solid black; position: absolute; border-radius:50%; cursor: pointer; z-index: 1; display: none;}
        #pbtn1{top:60px;left:185px;}
        #pbtn2{top:300px; left:110px;}
        .spbtn{width: 24px;height: 24px; background: white; margin: 0 auto; margin-top: 12px; border-radius: 50%; position: relative;}
        .picktitle{position: absolute; width: 140px; height: 80px; background: white; top:-110px; left: -55px; border: 1px solid silver; display: none;}
        .pbtn:hover{border: 1px solid green;}
        .pbtn:hover #spbtn1{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #spbtn2{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #picktitle1{display: inherit;}
        .pbtn:hover #picktitle2{display: inherit;}
        /*----------------------------------------------------------*/
        #pick2{width: 520px; height: 520px; position: relative; top:-700px; left:600px;}
        #pick2 img{width: 520px; height: 520px;}
        #pbtn3{top:170px;left:220px;}
        #pbtn4{top:230px;left:20px;}
        .pbtn:hover{border: 1px solid green;}
        .pbtn:hover #spbtn3{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #spbtn4{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #picktitle3{display: inherit;}
        .pbtn:hover #picktitle4{display: inherit;}
        /*----------------------------------------------------------*/
        #pick3{width: 520px; height: 700px; position: relative; top:-500px; left:0;}
        #pick3 img{width: 520px; height: 700px;}
        #pbtn5{top:190px;left:95px;}
        #pbtn6{top:490px;left:370px;}
        .pbtn:hover{border: 1px solid green;}
        .pbtn:hover #spbtn5{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #spbtn6{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #picktitle5{display: inherit;}
        .pbtn:hover #picktitle6{display: inherit;}
        /*----------------------------------------------------------*/
        #pick4{width: 520px; height: 520px; position: relative; top:-1360px; left:600px;}
        #pick4 img{width: 520px; height: 520px;}
        #pbtn7{top:215px;left:435px;}
        #pbtn8{top:360px;left:370px;}
        .pbtn:hover{border: 1px solid green;}
        .pbtn:hover #spbtn7{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #spbtn8{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #picktitle7{display: inherit;}
        .pbtn:hover #picktitle8{display: inherit;}
        
        /*----------------------------------------------------------*/
        #pick5{width: 520px; height:310px; position: relative; top:-1330px; left:600px;}
        #pick5 img{width: 520px; height: 310px;}
        #pbtn9{top:100px;left:90px;}
        #pbtn10{top:240px;left:270px;}
        .pbtn:hover{border: 1px solid green;}
        .pbtn:hover #spbtn9{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #spbtn10{width: 12px; height: 12px; margin: 0 auto; top:18px;}
        .pbtn:hover #picktitle9{display: inherit;}
        .pbtn:hover #picktitle10{display: inherit;}
        
        
        .sft1{width: 200px; height: 350px;float: left; margin-left: 32px; margin-top: 50px;}
        
        .sft1 li{margin-top: 10px; list-style: none; font-size: 13px;}
        
        #cbot{width: 100px; height: 100px; position: fixed; left:130px;top:400px; border-radius: 50%; cursor: pointer;}
        #cbot img{width: 100px; height: 100px; border-radius: 50%; }
        
        .menu{background: white; display: none; transition: 1s; }
        .menu span{margin-left: 50px; line-height: 200px; font-size: 20px;}
        .menu a:hover{color:#F361A6;  border-bottom: 2px solid #F361A6;}
        #allmenu span{cursor: pointer;}
        #allmenu span:hover{border-bottom: 2px solid black;}
        #allmenu a:hover{color:#F361A6;  border-bottom: 2px solid #F361A6;}
        #bg{position: absolute; width: 100%; height: 970px; display: none;}