body {
   background-color: #FFFFFF;
   margin: 0;
   padding: 0;
}

#main {
   position: relative;
   margin: 0 auto;
   width: 1000px;
   height: 1800px; /*border:1px solid black;*/
}

#non_box1 {
   position: relative;
   margin: 0 auto;
   width: 1000px;
   height: 80px;
}

#user_box {
   position: relative;
   margin: 0 auto;
   width: 1000px;
   height: 300px; /*border:1px solid blue;*/
}

#main_title {
   position: relative;
   top: 0px;
   right: 0px;
   width: 400px;
   height: 70px;
   float: left;
}

#main_title h1 {
   font-weight: bold;
   line-height: 0px;
}

#main_title p {
   font-size: 80%;
   color: #484848;
}

#main_title span {
   text-decoration: underline;
}

#card {
   position: relative;
   float: right;
   width: 340px;
   height: 222px;
   box-shadow: 5px 5px 25px silver, -5px -5px 25px silver;
}

.card_top {
   width: 340px;
   height: 108px;
   border-bottom: 2px solid #61A07B;
   background-color: #007CC8;
   border-radius: 5px 5px 0px 0px;
}

.card_top_logo {
   width: 320px;
   height: 40px;
   float: right;
   color: white;
   font-weight: bold;
   font-size: 110%;
   line-height: 55px;
}

.card_top_name {
   width: 320px;
   height: 60px;
   float: right;
   color: white;
   font-weight: bold;
   font-size: 180%;
   line-height: 25px;
}

.card_bottom {
   width: 340px;
   height: 120px;
}

.card_bottom_img {
   width: 340px;
   height: 120px;
}

#category {
   position: relative;
   width: 1000px;
   height: 90px; /*border:1px solid red;*/
}

.category_box {
   position: relative;
   width: 300px;
   height: 90px;
   border: 2px solid gray;
   float: left;
   margin-right: 43px;
   border-radius: 5px 5px 5px 5px
}

.category_title {
   position: relative;
   width: 240px;
   height: 90px; /*border:1px dashed black;*/
   float: left;
}

.arrow {
   position: relative;
   width: 55px;
   height: 90px; /*border:1px dashed blue;*/
   float: left;
   text-align: center;
   line-height: 105px;
}

.category_content1 {
   position: relative;
   width: 200px;
   height: 45px; /*border:1px solid blue;*/
   font-weight: bold;
   line-height: 70px;
   text-align: left;
   float: right;
   font-size: 90%;
}

.category_content2 {
   position: relative;
   width: 200px;
   height: 45px; /*border:1px solid blue;*/
   font-weight: bold;
   line-height: 20px;
   text-align: left;
   float: right;
   font-size: 80%;
}

#category_box1:hover #category_content1-1 span {
   text-decoration: underline;
}

#category_box2:hover #category_content1-2 span {
   text-decoration: underline;
}

#category_box3:hover #category_content1-3 span {
   text-decoration: underline;
}

#menu {
   position: relative;
   width: 1000px;
   height: 50px; /*border:1px solid blue;*/
   margin-top: 60px;
}

.menu_box {
   position: relative;
   width: 310px;
   height: 50px;
   border-bottom: 2px solid silver;
   float: left;
   margin-right: 35px;
   font-size: 90%;
   line-height: 50px;
   text-align: left;
   font-weight: bold;
}

#menu_box1 {
   border-bottom: 2px solid #0058A3;
}

#menu_button1 {
   font-size: 100%;
   text-align: left;
   font-weight: bold;
   width: 310px;
   height: 30px;
   border-style: none;
   background-color: white;
}

#menu_button2 {
   font-size: 100%;
   text-align: left;
   font-weight: bold;
   width: 310px;
   height: 30px;
   border-style: none;
   background-color: white;
}

#menu_button3 {
   font-size: 100%;
   text-align: left;
   font-weight: bold;
   width: 310px;
   height: 30px;
   border-style: none;
   background-color: white;
}

#non_box2 {
   position: relative;
   width: 1000px;
   height: 60px;
}

.big_user_data {
   position: relative;
   width: 1000px;
   height: 500px; /*border:1px solid purple;*/
}

#big_user_data2 {
   display: none;
}

#big_user_data3 {
   display: none;
}

.user_data {
   position: relative;
   width: 1000px;
   height: 200px;
   border-bottom: 1px solid #F5F5F5;
   margin-bottom: 25px;
}

.user_data_title {
   position: relative;
   width: 1000px;
   height: 40px; /*border:1px dashed red;*/
   line-height: 40px;
   text-align: left;
   font-weight: bold;
   font-size: 90%;
}

.user_data_content {
   position: relative;
   width: 1000px;
   height: 110px; /*border:1px dashed green;*/
   line-height: 25px;
   text-align: left;
   font-size: 90%;
}

.user_data_content #shop_title {
   font-size: 80%;
}

.user_data_content_menu {
   position: relative;
   width: 400px;
   height: 35px;
   border-bottom: 1px solid #F5F5F5;
   font-size: 80%;
   text-align: left;
   font-weight: bold;
   color: #606260;
   line-height: 35px;
}

.user_data_content #delete_text {
   font-weight: bold;
   font-size: 90%;
   text-decoration: underline;
}

.user_data_content_comunication {
   position: relative;
   width: 400px;
   height: 40px;
   text-align: left;
}

.detail_user_data {
   position: relative;
   width: 1000px; /*height:700px;*/
   border-bottom: 1px solid #F5F5F5;
   display: none; /*margin-top:50px;*/
   top: 0px;
}

.detail_data_title {
   position: relative;
   width: 550px;
   height: 25px; /*border:1px dashed black;*/
   font-size: 75%;
   text-align: left;
   line-height: 25px;
   font-weight: bold;
   margin-top: 20px;
}

.detail_data_text {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px; /*margin-bottom:50px;*/
}

.detail_text {
   width: 550px;
   height: 30px;
   border-style: none;
   float: left;
}

#detail_info_text {
   position: relative;
   width: 350px;
   height: 70px; /*border:1px solid red;*/
   font-size: 70%;
   font-weight: bold;
   color: #484848;
}

/* 수정    (.detail_data_text에 margin-bottom:50px지움),(.detail_data_title에 margin_top:20px; 추가) */
.detail_data_text_firstname {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_lastname {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_birth {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_phone {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_email {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_pwd {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_newpwd {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
   margin-top: 40px;
}

.detail_data_text_renewpwd {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
   margin-top: 40px;
}

.detail_data_text_firstname_address {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_lastname_address {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_data_text_phone_address {
   position: relative;
   width: 550px;
   height: 35px;
   border-bottom: 1px solid #929292;
   font-size: 95%;
   text-align: left;
   line-height: 30px;
}

.detail_pwd_text1 {
   width: 520px;
   height: 30px;
   border-style: none;
   float: left;
}

.detail_pwd_text2 {
   width: 520px;
   height: 30px;
   border-style: none;
   float: left;
}

.detail_pwd_text3 {
   width: 520px;
   height: 30px;
   border-style: none;
   float: left;
}

.view_button {
   text-decoration: underline;
   background: #FFFFFF;
   border-style: none;
   float: right;
   font-weight: bold;
}

/* 수정 */
/*.big_button{position:relative; width:550px; height:60px; border-radius:30px; margin-bottom:30px; margin-top:30px;
        line-height:60px; text-align:center; font-size:90%; font-weight:bold;}*/
.big_button1 {
   position: relative;
   width: 550px;
   height: 60px;
   border-radius: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
}

.big_button2 {
   position: relative;
   width: 550px;
   height: 60px;
   border-radius: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
}

#big_button3 {
   background-color: #F5F5F5;
   color: black;
}

#big_button4 {
   background-color: #111111;
   color: white;
}

/*.big_button1:hover{background-color:#DFDFDF;}
        .big_button2:hover{background-color:#333333;}*/

/* 수정 */
#big_button1-1 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
   border-style: none;
}

#big_button1-2 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
   border-style: none;
}

#big_button2-1 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
   border-style: none;
}

#big_button2-2 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
   border-style: none;
}

#big_button3-1 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
   border-style: none;
}

#big_button3-2 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
   border-style: none;
}

#big_button4-1 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
   border-style: none;
}

#big_button4-2 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
   border-style: none;
}

#big_button6-1 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #F5F5F5;
   color: black;
   border-style: none;
}

#big_button6-2 {
   position: relative;
   width: 450px;
   height: 55px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #111111;
   color: white;
   border-style: none;
}

/*#big_button1-1:hover{background-color:#DFDFDF;}
        #big_button1-2:hover{background-color:#333333;}*/
#normal_button {
   position: relative;
   width: 250px;
   height: 60px;
   border-radius: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #0058A3;
   color: white;
}

#normal_button2 {
   position: relative;
   width: 250px;
   height: 60px;
   border-radius: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
   line-height: 60px;
   text-align: center;
   font-size: 90%;
   font-weight: bold;
   background-color: #0058A3;
   color: white;
}

#normal_button:hover {
   background-color: #004F93;
}

#address_bold {
   font-weight: bold;
}

#address_button {
   border-style: none;
   background-color: white;
   text-align: left;
}

#address_bold:hover {
   text-decoration: underline;
}

#footer_box {
   position: relative;
   width: 650px;
   height: 180px;
   border-radius: 15px;
   border: 1px solid #DFDFDF;
   margin-top: 50px;
}

.footer_detail {
   position: relative;
   width: 650px;
   height: 60px; /*border:1px dashed red;*/
   text-decoration: underline;
   font-size: 80%;
   font-weight: bold;
   margin-left: 25px;
}

#footer_house {
   margin-top: 20px;
   margin-left: -5px;
}

#footer_detail2 {
   line-height: 22px;
   text-decoration: none;
}

.radio_button {
   width: 40px;
   height: 40px;
   float: left;
}

.comnuication {
   width: 150px;
   height: 40px;
   float: left;
   font-size: 90%;
   font-weight: bold;
   line-height: 30px;
}

.rd_btn1 {
   width: 25px;
   height: 25px;
}

.rd_btn2 {
   width: 25px;
   height: 25px;
}

.rd_btn3 {
   width: 25px;
   height: 25px;
}

.confirm_text {
   position: relative;
   width: 905px;
   height: 25px;
   float: left;
}

#confirm_phone {
   float: left;
   font-weight: bold;
   color: silver;
}

#confirm_email {
   float: left;
   font-weight: bold;
   color: silver;
}

#country_phone {
   position: relative;
   float: left;
   color: silver;
   width: 80px;
   height: 30px;
}

#question_mark {
   position: relative;
   float: left;
   width: 30px;
   height: 30px;
}

#tooltip {
   position: absolute;
   top: -50px;
   left: 340px;
   display: none;
}

/* 수정 */
.firstname_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.lastname_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.birth_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.phone_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.email_guidetext {
   position: relative;
   width: 500px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.email_guidetext p {
   color: red;
}

.pwd_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.newpwd_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.renewpwd_guidetext {
   position: relative;
   width: 400px;
   height: 20px;
   color: red;
   font-size: 70%;
   display: none;
}

.detail_user_data3 ul {
   margin: 5px;
   padding: 0px;
}

.newpwd_guidetext2 {
   list-style: none;
   margin: 0px;
   padding: 0px;
   font-size: 70%;
   font-weight: bold;
   display: none;
}

.comunication_check1-1 {
   float: right;
}

.comunication_check2-1 {
   float: right;
}

.comunication_check3-1 {
   float: right;
}
/*최정환---------------------------------------------------------------------------------------------------*/
#logo1 {
	text-align: center;
	border: none;
	margin-top: 10%;
}

#logo2 {
	text-align: left;
	border: none;
	display: block;
	top: 5%;
	margin-left: 10%;
}

.root {
	width: 100%;
	height: 100%;
}

.box1 {
	background-color: #0058A3;
	width: 40%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 80px;
	position: fixed;
	color: white;
	margin: 0;
}

.head1 {
	display: block;
	left: 0%;
	right: 0%;
	top: 40%;
	text-align: center;
	border: none;
}

.para {
	display: block;
	left: 0%;
	right: 0%;
	top: 50%;
	text-align: center;
}

.foot {
	position: absolute;
	bottom: 8%;
	left: 30%;
	right: 0%;
	color: white;
	background-color: #0058A3;
	border: 0px none none;
	color: white;
	font-size: 11px;
}

.box2 {
	width: 60%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 28px;
	position: fixed;
	margin: 0;
	z-index: -1;
}

div.h1 {
	word-wrap: break-word;
}

div.p {
	word-wrap: break-word;
}

#form {
	flex-direction: column;
	align-content: center;
	display: block;
	margin-left: 75%;
	margin-top: 20%;
}

.title {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 40px;
}

.input_div {
	width: 448px;
	height: 50px;
	top: 0;
	left: 0;
	line-height: 47px;
	position: relative;
	color: #ccc;
	display: table;
	border-bottom: 1px solid gray;
	padding: 24px 0px px1;
	justify-content: center;
}

.id1 {
	font-size: 110%;
	outline: none;
	border: 0px;
	width: 100%;
}

#button1 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #0058A3;
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

#button1:hover {
	background-color: darkblue;
}

#button2 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #f5f5f5;
	color: black;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

#button2:hover {
	background-color: darkgray;
}

@media screen and (max-width: 768px) {
	.box1 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.box2 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.foot {
		flex-direction: column;
	}
}
/*예린이--------------------------------------------------------------------*/
#logo1 {
	text-align: center;
	border: none;
	margin-top: 10%;
}

#logo2 {
	text-align: left;
	border: none;
	display: block;
	top: 5%;
	margin-left: 10%;
}

.email_search_root {
	width: 100%;
	height: 100%;
}

.email_search_box1 {
	background-color: #0058A3;
	width: 40%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 80px;
	position: fixed;
	color: white;
	margin: 0;
}

.email_search_head1 {
	display: block;
	left: 0%;
	right: 0%;
	top: 40%;
	text-align: center;
	border: none;
	margin-top: 250px;
}

.email_search_para {
	display: block;
	left: 0%;
	right: 0%;
	top: 50%;
	text-align: center;
}

.email_search_foot {
	position: absolute;
	bottom: 8%;
	left: 30%;
	right: 0%;
	color: white;
	background-color: #0058A3;
	border: 0px none none;
	color: white;
	font-size: 11px;
}

.email_search_box2 {
	width: 60%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 28px;
	position: fixed;
	margin: 0;
	z-index: -1;
	margin-top: 160px;
}

div.h1 {
	word-wrap: break-word;
}

div.p {
	word-wrap: break-word;
}

#email_search_form {
	flex-direction: column;
	align-content: center;
	display: block;
	margin-left: 75%;
	margin-top: 20%;
}

.email_search_title {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 40px;
}

.email_search_input {
	width: 448px;
	height: 50px;
	top: 0;
	left: 0;
	line-height: 47px;
	position: relative;
	color: #ccc;
	display: table;
	border-bottom: 1px solid gray;
	padding: 24px 0px px1;
	justify-content: center;
}

.emailsearch {
	font-size: 110%;
	outline: none;
	border: 0px;
	width: 100%;
}

#emailsearch_button1 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #0058A3;
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

#emailsearch_button1:hover {
	background-color: darkblue;
}

#emailsearch_button2 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #f5f5f5;
	color: black;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.email_search_box1 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.email_search_box2 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.email_search_foot {
		flex-direction: column;
	}
}

#email_search_result {
	position: relative;
	width: 450px;
	height: 30px;
	font-size: 14px;
	line-height: 10px;
	color: #666666;
	margin-top: 10px;
}

/*예린이 pwd---------------------------------------------------*/
#logo1 {
	text-align: center;
	border: none;
	margin-top: 10%;
}

#logo2 {
	text-align: left;
	border: none;
	display: block;
	top: 5%;
	margin-left: 10%;
}

.pwd_search_root {
	width: 100%;
	height: 100%;
}

.pwd_search_box1 {
	background-color: #0058A3;
	width: 40%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 80px;
	position: fixed;
	color: white;
	margin: 0;
}

.pwd_search_head1 {
	display: block;
	left: 0%;
	right: 0%;
	top: 40%;
	text-align: center;
	border: none;
	margin-top: 250px;
}

.pwd_search_para {
	display: block;
	left: 0%;
	right: 0%;
	top: 50%;
	text-align: center;
}

.pwd_search_foot {
	position: absolute;
	bottom: 8%;
	left: 30%;
	right: 0%;
	color: white;
	background-color: #0058A3;
	border: 0px none none;
	color: white;
	font-size: 11px;
}

.pwd_search_box2 {
	width: 60%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 28px;
	position: fixed;
	margin: 0;
	z-index: -1;
	margin-top: 160px;
}

div.h1 {
	word-wrap: break-word;
}

div.p {
	word-wrap: break-word;
}

#pwd_search_form {
	flex-direction: column;
	align-content: center;
	display: block;
	margin-left: 75%;
	margin-top: 20%;
}

.pwd_search_title {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 40px;
}

.pwd_search_input {
	width: 448px;
	height: 50px;
	top: 0;
	left: 0;
	line-height: 47px;
	position: relative;
	color: #ccc;
	display: table;
	border-bottom: 1px solid gray;
	padding: 24px 0px px1;
	justify-content: center;
}

.pwdsearch {
	font-size: 110%;
	outline: none;
	border: 0px;
	width: 100%;
}

#pwdsearch_button1 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #0058A3;
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

#pwdsearch_button1:hover {
	background-color: darkblue;
}

#pwdsearch_button2 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #f5f5f5;
	color: black;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.pwd_search_box1 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.pwd_search_box2 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.pwd_search_foot {
		flex-direction: column;
	}
}

#pwd_search_result {
	position: relative;
	width: 450px;
	height: 30px;
	font-size: 14px;
	line-height: 10px;
	color: #666666;
	margin-top: 10px;
}
/*비밀번호 재설정*/
#logo1 {
	text-align: center;
	border: none;
	margin-top: 10%;
}

#logo2 {
	text-align: left;
	border: none;
	display: block;
	top: 5%;
	margin-left: 10%;
}

.rpwd_search_root {
	width: 100%;
	height: 100%;
}

.rpwd_search_box1 {
	background-color: #0058A3;
	width: 40%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 80px;
	position: fixed;
	color: white;
	margin: 0;
}

.rpwd_search_head1 {
	display: block;
	left: 0%;
	right: 0%;
	top: 40%;
	text-align: center;
	border: none;
	margin-top: 250px;
}

.rpwd_search_para {
	display: block;
	left: 0%;
	right: 0%;
	top: 50%;
	text-align: center;
}

.rpwd_search_foot {
	position: absolute;
	bottom: 8%;
	left: 30%;
	right: 0%;
	color: white;
	background-color: #0058A3;
	border: 0px none none;
	color: white;
	font-size: 11px;
}

.rpwd_search_box2 {
	width: 60%;
	height: 100%;
	display: block;
	float: left;
	padding: 32 28px;
	position: fixed;
	margin: 0;
	z-index: -1;
	margin-top: 160px;
}

div.h1 {
	word-wrap: break-word;
}

div.p {
	word-wrap: break-word;
}

#rpwd_search_form {
	flex-direction: column;
	align-content: center;
	display: block;
	margin-left: 75%;
	margin-top: 20%;
}

.rpwd_search_title {
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 40px;
}

.rpwd_search_input {
	width: 448px;
	height: 50px;
	top: 0;
	left: 0;
	line-height: 47px;
	position: relative;
	color: #ccc;
	display: table;
	border-bottom: 1px solid gray;
	padding: 24px 0px px1;
	justify-content: center;
}

.newpwdsearch {
	font-size: 110%;
	outline: none;
	border: 0px;
	width: 100%;
}

#rpwdsearch_button1 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #0058A3;
	color: white;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

#rpwdsearch_button1:hover {
	background-color: darkblue;
}

#rpwdsearch_button2 {
	position: relative;
	margin: 40px auto;
	width: 448px;
	height: 56px;
	border: 1px none black;
	border-radius: 40px;
	background: #f5f5f5;
	color: black;
	line-height: 60px;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.pwd_search_box1 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.pwd_search_box2 {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.pwd_search_foot {
		flex-direction: column;
	}
}